* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Form Box */
.container {
  background: #020617;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  text-align: center;
  color: white;
}

.container p {
  color: #94a3b8;
  margin-bottom: 20px;
}

/* Inputs */
form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background: #020617;
  border: 1px solid #334155;
  border-radius: 5px;
  color: white;
  outline: none;
}

form textarea {
  resize: none;
  height: 80px;
}

form input::placeholder,
form textarea::placeholder {
  color: #64748b;
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #22c55e;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}
